/* body {
    background-color: #EEEEEE;
    
} */
* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;;
    color: #333333;
    box-sizing: border-box;
}
.frame {
    min-width: 450px;
    margin: 30px 3px;
    background-color: #EEEEEE;
    padding: 10px;
    border-radius: 5px;

}

h1, h2, p {
    text-align: center;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 19px;
    margin: 40px auto;
}

#photo {
    background-color: #FFFFFF;
    padding:  5px 1rem 10px;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    
}

#photo img {
    width: 100%;
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.bold {
    font-weight: 700;
}

.left {
    text-align: left;
}

.bio,
.quote {
    max-width: 600px;
    text-align: left;
    margin: auto;
    letter-spacing: 0.15px;
    line-height: 1.5rem;
        
}

li
 {
    margin: 20px;
    word-break: normal;
}

.quote {
    max-width: 520px;
    
    
}